*{
    padding:0px;
    margin:0px;
}

body{
    font-family: Poppins !important;
    padding:0px;
    margin:0px;
}

.welcome{
    background: url('img/back.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.overlay{
    background-color:rgba(0, 0, 0, 0.61);

}

.hire-btn{
    background:#fff;
    border-radius:20px;
    border:none;
    color:#000;
    transition: 0.7s;
}

.hire-btn:hover{
    background:#000;
    color:#fff;
}

.hire-btn a:hover{
    color:#fff;
}

.arrow{
    height:25px !important;
    width:25px !important;
    border-radius: 50%;
    border:1px solid #fff;
}

.arrow-img{
    height:20px;
    width:20px;
}

.btn-img{
    height:40px;
    width:40px;
}

.down{
    height:40px;
    width:20px;
    border-radius:20px;
    border:1px solid #fff;
}

.slider{
    position:fixed;
    height:100%;
    box-sizing: border-box;
    z-index: 10000;
    animation:slide 600ms ease-in 1;
    animation-fill-mode: forwards;
} 

@keyframes slide{
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}

.closure{
    display:none !important;
    width:0% !important;
}

.navlink{
    color:#fff !important;
    font-size:1.5rem;
}

.closebtn{
    height:30px;
    width:30px;
    position:absolute;
    top:5%;
    left:75%;
}

.closebtn:hover{
    cursor:pointer;
}

.navlist{
    margin-top:5rem !important;
}

ul li{
    list-style: none !important;
}


.head-name{
    font-family: 'Pacifico' !important;
    color:white;
}

.name{
    color:#2345F9;
}

.img-about{
    height:15px;
    width:15px;
}

.social-icons{
    height:25px;
    width:25px;
}

.progress{
    height:1rem !important;
}

.progress-bar{
    background-color:#000 !important;
    height:1rem !important;
    font-size:0.6rem;
}

.number{
    margin-top:-14px;
}

.grey{
    background:#FAFAFA;
}

.service-icon{
    height:30px;
    width:30px;
}

a{
    color:#000;
}

a:hover{
    text-decoration:none;
    color:#2345F9;
}

.text-primary, .active{
    color:#2345F9 !important;
}

.card{
    border:none !important;
}

.loc{
    font-size: 0.8rem;
}

.black{
    background-color: #000;
}

.client-img{
    margin-top:-95px;
}

.blog-card{
    border:1px solid #F2F2F2 !important;
}

.blue{
    color:#2345F9;
}

.blue-back{
    color:white;
    background:#2345F9;
    border:none;
    border-radius:20px;
}

.img-rep{
    width:100% !important;
}

@media screen and (max-width:768px){

    .h-name{
        font-size:2.2rem !important;
    }
    .nav{
        padding-top:5px;
        padding-bottom:5px;
    }

    .client-col{
        margin-top:95px !important;
        }

        .service-col{
            border:none !important;
            border-bottom:2px solid #F2F2F2 !important;
        }

        .services-top{
            border:none !important;
        }

        .btn-img{
            height:35px;
            width:35px;
        }

        .option{
            flex-wrap: wrap;
            justify-content: space-between !important;
            /* align-content:start; */
        }
}

@media only screen and (min-width:768px) and (max-width:1200px) {
    .contact-input{
        width:450px !important;
        margin-right:0px !important;        
    }
}
